*{
    box-sizing: border-box;
    margin: 0;  
}
html{
    background-color: rgb(228, 236, 178);
}

h1,h2,h3,h4,h5{
    color: rgb(63,63,5);
}
header{    
    padding:1rem 1rem;
    background-color: rgba(228, 236, 178, 0.75);
    top: 0;  
    position: sticky;    
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
#logoCamelia{
    display: flex;
    width: 30%;
    height:auto;
    /*object-fit: contain;*/
    /*padding-top: 1 rem;*/
    padding-left: 1 rem;
   


}
header h1{   
    padding-left: 1rem;
    font-family: 'Quicksand', sans-serif;
    /*font-weight: 500;*/
    text-transform: uppercase;  
    font-size: 2rem; 

}    

header ul{
    /*padding: 2rem 1rem;*/ 
    /*font-size: 1rem;*/  
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1rem
}


header a{
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(63,63,5);
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;  
    font-weight: bold;
}

header a:hover{
    color: #817979;
    

}



main{
    padding: 1rem;
}

#sec_title{
    padding: 1rem;
    color: rgb(63, 63, 5);
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem; 
    font-weight: 500;
    text-transform: uppercase;  
    text-align: center; 
} 


#flex-conteiner1{
    border: solid blue ;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    height: auto;
    align-content: center;
    row-gap: 2rem;
    column-gap: 1rem;
}

#flex-conteiner1 h2{  
    padding:1rem;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem; 
    font-weight: 500;
    


}
.flex-item1{
    padding: 1rem;
    border: 2px solid rgb(63, 63, 5);
    border-radius: 1rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    width: 90%;

    
}

#flex-conteiner1 article button{
    /*font-family: 'Quicksand', sans-serif;*/
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color:  rgb(63, 63, 5);
    /*background-color: white;*/
   
}
#flex-conteiner1 article button a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color:  rgb(63, 63, 5);
    color: black;
}

/*h2{
    padding-bottom: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-transform: uppercase;      
    font-size: 1rem; 
}


h3{
    padding-bottom: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}*/




#campos_de_te{
    /*object-fit: cover;*/
    /*object-fit: contain;*/
    display: block;
    width:70%;
    height:auto;
    margin: auto;
    
    
}
#te_hebras{
    /*object-fit: contain;*/
    padding-bottom: 1rem;
    display: block;
    width: 100%;
    height:auto;
}
#te_infusor{
    /*object-fit: contain;*/
    padding-bottom: 1rem;
    display: block;
    width: 100%;
    height:auto;
}

p{
    padding: 0rem 1rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}



footer section{
    margin-top: 1rem;
    }
footer h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
}
footer ul{
    list-style: none;
}

footer a{
    text-decoration:none;
    color: rgb(63, 63, 5);
    /*color:#000;*/
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;  
    text-transform: uppercase;  
    font-weight: bold;
}


#footer_info{
    min-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.fa-solid{
    /*color: #000;*/
    color: rgb(63, 63, 5);
    font-size: 1.25rem;
}

.fa-brands{
     /*color: #000;*/
     color: rgb(63, 63, 5);
    font-size: 1.25rem;
}

.fa-brands:hover{
    color: #fafafa;
}

#copyright_section{
    color: #292020;
    text-align: center;
    padding: 1rem;
}